<div class="background">
  <mat-toolbar color="primary"></mat-toolbar>
  <div class="logo">
    <img src="/assets/logo.jpg" alt="" />
    <h1>login</h1>
  </div>
  <span class="form">
    <form>
      <mat-form-field>
        <mat-label>User Name</mat-label>
        <input matInput placeholder="Enter name" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput placeholder="Enter password" type="password" />
      </mat-form-field>
      <button  mat-raised-button color="primary">Login</button>
    </form>
  </span>
  <div class="version">
    <p>v 0.1</p>
  </div>
</div>
